<nav class="bg-yellow-400 shadow-xl fixed top-0 left-0 w-screen z-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <h1 class="text-3xl font-bold text-center text-yellow-900">NetBuy</h1>
        </div>
        <div class="hidden md:flex">
          <a href="" class="px-4 py-2 mr-2 rounded-full font-semibold text-yellow-900 hover:bg-yellow-500 transition duration-500">Home</a>
          <a href="" class="px-4 py-2 mr-2 rounded-full font-semibold text-yellow-900 hover:bg-yellow-500 transition duration-500">Products</a>
          <a href="" class="px-4 py-2 mr-2 rounded-full font-semibold text-yellow-900 hover:bg-yellow-500 transition duration-500">Categories</a>
          <a href="" class="px-4 py-2 mr-2 rounded-full font-semibold text-yellow-900 hover:bg-yellow-500 transition duration-500">Carts</a>
        </div>
        <div class="hidden md:flex items-center">
          {% if user.is_authenticated %}
            <span class="text-yellow-800 mr-6">Logged in as {{ user.username }}</span>
            <a href="{% url 'main:logout' %}" class="text-center border-2 border-yellow-900 text-yellow-900 font-bold py-1 px-4 rounded-full hover:bg-red-700 hover:border-red-700 hover:text-yellow-500 transition duration-300">
              Logout
            </a>
          {% else %}
            <a href="{% url 'main:login' %}" class="text-center bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full transition duration-300 mr-2">
              Login
            </a>
            <a href="{% url 'main:register' %}" class="text-center bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-full transition duration-300">
              Register
            </a>
          {% endif %}
        </div>
        <div class="md:hidden flex items-center">
          <button class="mobile-menu-button">
            <svg class="w-6 h-6 text-white" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <!-- Mobile menu -->
    <div class="mobile-menu hidden md:hidden px-4 w-full md:max-w-full">
      <div class="pt-2 pb-3 space-y-1 mx-auto">
        {% if user.is_authenticated %}
          <span class="block text-yellow-800 pb-2">Logged in as {{ user.username }}</span>
          <a href="" class="block text-center px-4 py-2 rounded-full font-semibold text-yellow-900 hover:bg-yellow-600 transition duration-500">Home</a>
          <a href="" class="block text-center px-4 py-2 rounded-full font-semibold text-yellow-900 hover:bg-yellow-600 transition duration-500">Products</a>
          <a href="" class="block text-center px-4 py-2 rounded-full font-semibold text-yellow-900 hover:bg-yellow-600 transition duration-500">Categories</a>
          <a href="" class="block text-center px-4 py-2 rounded-full font-semibold text-yellow-900 hover:bg-yellow-600 transition duration-500">Carts</a>
          <a href="{% url 'main:logout' %}" class="block text-center text-yellow-900 hover:bg-red-700 hover:text-yellow-500 font-bold py-2 px-4 rounded-full transition duration-300">
            Logout
          </a>
        {% else %}
          <a href="{% url 'main:login' %}" class="block text-center bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300 mb-2">
            Login
          </a>
          <a href="{% url 'main:register' %}" class="block text-center bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded transition duration-300">
            Register
          </a>
        {% endif %}
      </div>
    </div>
    <script>
      const btn = document.querySelector("button.mobile-menu-button");
      const menu = document.querySelector(".mobile-menu");
    
      btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });
    </script>
  </nav>