{% extends 'base.html' %}
{% block content %}

<h2>Welcome to NetBuy</h2>

<p>Nama:</p>
<p><strong>{{ name }}</strong></p>

{% if not shop_entries %}
<p>No product added yet.</p>
{% else %}

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
    </tr>

    {% for product in shop_entries %}
    <tr>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<a href="{% url 'main:create_shop_entry' %}">
    <button>Add Product</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}